<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chapter 22 Using Web API</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <h2><a href="../index.html">Link to Start Page</a></h2>
  <!-- Did not use a form since Chapter 22 did not use forms yet -->
  <form action="" method="post">
    <button name="foo" value="upvote">Upvote</button>
  </form>
  <div id="output"></div>


  <script src="../js/ex2.js"></script>
</body>
</html>